.login-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://i.natgeofe.com/n/6ab670b9-4652-4a22-b4da-729cf0ff62af/everest-book-talk-climbers.jpg?w=2560&h=1702");
  background-repeat: no-repeat;
  background-size: cover;
}